{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2 style="text-align: center;"> Histogram Equalization </h2>
  {% if uploaded_file_url %}
   
<div class="row">
<div class="col-md-6" style="font-size:80%; text-align:center; display: inline;">
    <div width="40%" height="50%">
    <img style="border: solid;" class="" width="100%" height="100%" src="{{ uploaded_file_url }}" alt="alternate text" style="padding-bottom:0.5em;" />
  <p style="display: block;">Original Image</p>  
    </div>
    
</div>
<div class="col-md-6" style="font-size:80%; text-align:center; display: inline;">
    <div width="40%" height="50%">
    <img style="border: solid;" class="" width="100%" height="100%" src="{{ nuploaded_file_url }}" alt="alternate text" style="padding-bottom:0.5em;" />
  <p style="display: block;">Histogram Equalized Image</p>  
    </div>
</div>
</div>
{% endif %}
   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <p></p>
    <button type="submit">Apply Histogram Equalization</button>
  </form>
  

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}